# FireTools environment defaults
SECRET_KEY=
MAX_UPLOAD_MB=200
FILE_RETENTION_SECONDS=3600
IMAGE_MAX_FILE_SIZE_MB=50
AUDIO_MAX_FILE_SIZE_MB=200
VIDEO_MAX_FILE_SIZE_MB=500
BACKGROUND_MAX_FILE_SIZE_MB=50
RATELIMIT_STORAGE_URI=redis://user:pass@hostname:6379/0
