__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Distribution / packaging
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
htmlcov/
.tox/
.nox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
*.py,cover
.hypothesis/
.pytest_cache/

# Jupyter Notebook
.ipynb_checkpoints

# Environments
.env
.env.*
!.env.example
.venv

# VS Code
.vscode/

# macOS
.DS_Store
logs/**
!logs/**/.gitkeep
processed/**
!processed/**/.gitkeep
uploads/**
!uploads/**/.gitkeep
venv/
static/audio/converter/uploads/**
!static/audio/converter/uploads/**/.gitkeep
static/audio/converter/converted/**
!static/audio/converter/converted/**/.gitkeep
static/video/converter/uploads/**
!static/video/converter/uploads/**/.gitkeep
static/video/converter/converted/**
!static/video/converter/converted/**/.gitkeep
static/image/converter/uploads/**
!static/image/converter/uploads/**/.gitkeep
static/image/background_remover/uploads/**
!static/image/background_remover/uploads/**/.gitkeep
static/doc/pdf/converter/converted/**
!static/doc/pdf/converter/converted/**/.gitkeep
short_curter.db
