<!DOCTYPE html>
<html lang="pt-br">
  <head>
    <meta charset="UTF-8" />
    <title>Short Curter - Encurtador de URLs</title>
  </head>
  <body>
    <h1>Short Curter</h1>
    <form method="post">
      <label for="url">Insira sua URL:</label>
      <input type="url" name="url" id="url" required />
      <button type="submit">Encurtar</button>
    </form>
    {% if short_url %}
    <p>
      URL encurtada:
      <a href="{{ short_url }}" target="_blank">{{ short_url }}</a>
    </p>
    {% endif %} {% with messages = get_flashed_messages(with_categories=true) %}
    {% if messages %}
    <ul>
      {% for category, message in messages %}
      <li>{{ message }}</li>
      {% endfor %}
    </ul>
    {% endif %} {% endwith %}
  </body>
</html>
