{% extends 'base.html' %} {% block title %}Página Inicial{% endblock %} {% block
content %}
<div class="main-content">
  <h1>Removedor de Background</h1>
  <form id="upload-form" method="post" enctype="multipart/form-data">
    <div class="drop-area">
      <h2>Arraste e solte a imagem aqui</h2>
      <p>Ou clique no botão abaixo</p>
      <input type="file" name="image" accept="image/*" required />
      <button class="btn" type="button">Selecionar Imagem</button>
      <div class="file-list"></div>
    </div>
    <button type="submit">Remover Fundo</button>
    <input type="hidden" name="csrf_token" value="{{ csrf_token() }}" />
  </form>
  {% with messages = get_flashed_messages(with_categories=true) %} {% if
  messages %}
  <ul>
    {% for category, message in messages %}
    <li
      style="color: {% if category == 'success' %}green{% else %}red{% endif %};"
    >
      {{ message }}
    </li>
    {% endfor %}
  </ul>
  {% endif %} {% endwith %} {% if image %}
  <h2>Resultado:</h2>
  <img
    src="{{ url_for('static', filename='background_remover/uploads/' ~ image) }}"
    alt="Resultado"
  />
  <p>
    <a
      class="btn"
      href="{{ url_for('static', filename='background_remover/uploads/' ~ image) }}"
      download
    >
      📥 Baixar Imagem
    </a>
  </p>
  {% endif %}
</div>
{% endblock %} {% block scripts %}
<script src="{{ url_for('static', filename='js/drop_area.js') }}"></script>
{% endblock %}
