{% extends 'base.html' %} {% block title %}YouTube Video Downloader{% endblock
%} {% block content %}
<div class="main-content">
  <h1>Baixar vídeos do YouTube</h1>
  {% with messages = get_flashed_messages(with_categories=true) %} {% if
  messages %}
  <ul>
    {% for category, message in messages %}
    <li
      style="color: {% if category == 'success' %}green{% elif category == 'warning' %}orange{% else %}red{% endif %};"
    >
      {{ message }}
    </li>
    {% endfor %}
  </ul>
  {% endif %} {% endwith %}
  <form method="post" autocomplete="off">
    <label for="url">Cole o link do vídeo ou playlist:</label>
    <input type="text" id="url" name="url" required size="60" />
    <button type="submit">Baixar</button>
    <input type="hidden" name="csrf_token" value="{{ csrf_token() }}" />
  </form>
  {% if download_links %}
  <h2>Links para download:</h2>
  <ul>
    {% for link in download_links %}
    <li><a href="{{ link }}">{{ link }}</a></li>
    {% endfor %}
  </ul>
  {% endif %}
</div>
{% endblock %}
