{% macro ad_unit(slot_id) -%}
<div class="ad-slot" data-slot-id="{{ slot_id }}">
  <script type="text/javascript">
    atOptions = {
      'key' : '***REMOVED***',
      'format' : 'iframe',
      'height' : 600,
      'width' : 160,
      'params' : {}
    };
  </script>
  <script type="text/javascript" src="//www.highperformanceformat.com/***REMOVED***/invoke.js"></script>
</div>
<noscript>
  <p class="ad-noscript" data-i18n="ad.noscript">Ative o JavaScript para visualizar este anúncio.</p>
</noscript>
{%- endmacro %}

{% macro ad_unit_horizontal(slot_id) -%}
<div class="ad-slot ad-slot-horizontal" data-slot-id="{{ slot_id }}">
  <script type="text/javascript">
    atOptions = {
      'key' : '***REMOVED***',
      'format' : 'iframe',
      'height' : 90,
      'width' : 728,
      'params' : {}
    };
  </script>
  <script type="text/javascript" src="//www.highperformanceformat.com/***REMOVED***/invoke.js"></script>
</div>
<noscript>
  <p class="ad-noscript" data-i18n="ad.noscript">Ative o JavaScript para visualizar este anúncio.</p>
</noscript>
{%- endmacro %}
