{% macro upload_area(
  icon,
  title,
  subtitle,
  file_types,
  size_hint,
  input_name,
  accept,
  input_id=None,
  drop_id=None,
  button_id=None,
  button_label="Selecionar arquivo",
  multiple=False,
  required=True,
  title_key=None,
  subtitle_key=None,
  file_types_key=None,
  size_hint_key=None,
  button_key=None
) -%}
<div class="form-group">
  <div class="drop-area"{% if drop_id %} id="{{ drop_id }}"{% endif %}>
    <div class="drop-area-content">
      <span class="upload-icon">{{ icon }}</span>
      <h2{% if title_key %} data-i18n="{{ title_key }}"{% endif %}>{{ title }}</h2>
      {% if subtitle %}
      <p{% if subtitle_key %} data-i18n="{{ subtitle_key }}"{% endif %}>{{ subtitle }}</p>
      {% endif %}
      <div class="file-info">
        <span class="file-type"{% if file_types_key %} data-i18n="{{ file_types_key }}"{% endif %}>{{ file_types }}</span>
        {% if size_hint %}
        <span class="file-size"{% if size_hint_key %} data-i18n="{{ size_hint_key }}"{% endif %}>{{ size_hint }}</span>
        {% endif %}
      </div>
    </div>

    <input
      type="file"
      name="{{ input_name }}"
      {% if input_id %}id="{{ input_id }}"{% endif %}
      class="hidden"
      accept="{{ accept }}"
      {% if multiple %}multiple{% endif %}
      {% if required %}required{% endif %}
    />
    <button
      type="button"
      class="btn btn-primary"
      {% if button_id %}id="{{ button_id }}"{% endif %}
      {% if button_key %}data-i18n="{{ button_key }}"{% endif %}
    >
      {{ button_label }}
    </button>
    <div class="file-list"></div>
  </div>
</div>
{%- endmacro %}
