{% extends 'base.html' %} {% block title %}YouTube Subtitle Downloader{%
endblock %} {% block content %}
<div class="main-content">
  <h1>Baixar Legendas do YouTube</h1>
  {% with messages = get_flashed_messages(with_categories=true) %} {% if
  messages %}
  <ul>
    {% for category, message in messages %}
    <li><strong>{{ category.title() }}:</strong> {{ message }}</li>
    {% endfor %}
  </ul>
  {% endif %} {% endwith %}

  <form method="post" autocomplete="off">
    <label for="yt_url">Cole o link do vídeo ou playlist do YouTube:</label>
    <input
      type="text"
      id="yt_url"
      name="yt_url"
      required
      size="60"
      pattern="https?://.*"
      value="{{ yt_url }}"
    />
    {% if languages %}
    <p>Selecione o idioma:</p>
    <select
      id="language"
      name="lang"
      class="form-select"
      style="width: 100%"
      required
    >
      <option></option>
      {% for lang in languages %}
      <option value="{{ lang }}">{{ lang }}</option>
      {% endfor %}
    </select>
    <button type="submit">Baixar Legendas</button>
    {% else %}
    <button type="submit">Buscar Idiomas</button>
    {% endif %}
    <input type="hidden" name="csrf_token" value="{{ csrf_token() }}" />
  </form>

  {% if legendas_baixadas %}
  <h2>Legendas encontradas para:</h2>
  <ul>
    {% for url in legendas_baixadas %}
    <li>{{ url }}</li>
    {% endfor %}
  </ul>
  {% endif %} {% if download_link %}
  <p>
    <a href="{{ download_link }}">Clique aqui para baixar as legendas (.zip)</a>
  </p>
  {% endif %}
</div>
{% endblock %} {% block scripts %}
<link
  href="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/css/select2.min.css"
  rel="stylesheet"
/>
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/js/select2.min.js"></script>
<script>
  $(document).ready(function () {
    $("#language").select2({
      placeholder: "Escolha o idioma da legenda",
    });
  });
</script>
{% endblock %}
