{% extends 'base.html' %} {% block title %}Video Converter{% endblock %} {%
block content %}
<div class="main-content">
  <h1>Video Converter</h1>
  <form id="upload-form" method="post" enctype="multipart/form-data">
    <div class="drop-area">
      <h2>Arraste e solte o vídeo aqui</h2>
      <p>Ou clique no botão abaixo</p>
      <input type="file" name="video" accept="video/*" required />
      <button class="btn" type="button">Selecionar Arquivo</button>
      <div class="file-list"></div>
    </div>
    <label for="output_format">Converter para:</label>
    <select name="output_format" id="output_format" required>
      <option value="mp4">MP4</option>
      <option value="avi">AVI</option>
      <option value="mkv">MKV</option>
      <option value="mov">MOV</option>
    </select>
    <button type="submit">Converter</button>
    <input type="hidden" name="csrf_token" value="{{ csrf_token() }}" />
  </form>
  {% with messages = get_flashed_messages(with_categories=true) %} {% if
  messages %}
  <ul>
    {% for category, message in messages %}
    <li
      style="color: {% if category == 'success' %}green{% else %}red{% endif %};"
    >
      {{ message }}
    </li>
    {% endfor %}
  </ul>
  {% endif %} {% endwith %}
  <div id="progress-container" class="hidden">
    <div id="progress-bar">
      <span id="progress-text">0%</span>
    </div>
  </div>
</div>
{% endblock %} {% block scripts %}
<script src="{{ url_for('static', filename='js/progress_bar.js') }}"></script>
<script src="{{ url_for('static', filename='js/drop_area.js') }}"></script>
{% endblock %}
